:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --azulint:#cfd5e0;
    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
    
}

.sombraf{
    -webkit-box-shadow: 0px 10px 57px -9px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 10px 57px -9px rgba(0,0,0,0.31);
    box-shadow: 0px 10px 57px -9px rgba(0,0,0,0.31);
   
   
     border-color: var(--azulint);
    
     background-color: var(--azulint);
   }

   .sombraft{
    -webkit-box-shadow: 0px 10px 57px -9px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 10px 57px -9px rgba(0,0,0,0.31);
    box-shadow: 0px 10px 57px -9px rgba(0,0,0,0.31);
   
    border-radius: 1rem;
   }


.fondo{

    background-color: #dce2ee;
}




body{
    background-color: #dce2ee;
}

.class{
    color: #000000 !important
  }



.margen{
      margin-left: 80px;

      
  }

  